Repository TEIC/Stylesheets, pull requests merged in 2023-09, with the labels that each got.

#617 process `@xml:id` wherever the output of a <list> is generated
  html/html_core.xsl
Labels: conversion: html

#614 Fix spelling
  docx/to/mml2omml.xsl
  docx/tools/build.xml
Labels: type: bug, priority: low, conversion: docx, status: confirmed

#608 Fix #607, I hope: remove erroneous bits of text from version URL
  Test/Makefile
  Test/expected-results/test-pure.rnc
  Test/expected-results/test-pure2.rnc
  Test/expected-results/test15.odd.rnc
  Test/expected-results/test21.odd.rnc
  Test/expected-results/test30.rnc
  Test/expected-results/test33.rnc
  Test/expected-results/test34.rnc
  Test/expected-results/testClass.rnc
  odds/teiodds.xsl
Labels: type: bug, conversion: odd
