Repository TEIC/Stylesheets, pull requests merged in 2024-03, with the labels that each got.

#660 Do not copy attrs from TEI constraint element to Schematron rule element
  odds/extract-isosch.xsl
Labels: type: bug, conversion: schematron

#651 tidy up FPI generation
  Test2/inputFiles/testNonTeiOdd1.odd
  odds/odd2dtd.xsl
Labels: status: Go, conversion: dtd

#633 make att.repeatable work for `<sequence>`, `<alternate>`, and `<anyElement>`
  Test/expected-results/test-pure.odd.html
  Test/expected-results/test.rng
  Test/expected-results/test15.odd.html
  Test/expected-results/test15.odd.rnc
  Test/expected-results/test21.odd.rnc
  Test/expected-results/test3.html
  Test/expected-results/test30.dtd
  Test/expected-results/test30.rnc
  Test/expected-results/test33.rnc
  Test/expected-results/test34.rnc
  Test/expected-results/test35.rnc
  Test/expected-results/test4.html
  Test/expected-results/testClass.rnc
  Test2/build_odd.xml
  Test2/expected-results/testAttValQuant.rng
  Test2/expected-results/testNonTeiOdd1.rng
  Test2/expected-results/testPure1.rng
  Test2/expected-results/testPure1InvalidInstanceRngMessages.txt
  Test2/inputFiles/invalidInstances/testPure1InvalidInstance.xml
  Test2/inputFiles/testPure1.odd
  Test2/inputFiles/validInstances/testPure1ValidInstance.xml
  odds/odd2dtd.xsl
  odds/odd2relax.xsl
  odds/teiodds.xsl
Labels: type: bug, conversion: relax

#670 Corrected typo for issue ´#584´
  common/functions.xsl
Labels: resp: council, status: Go, priority: low
